[submodule "api"]
	path = api
	url = ./api
[submodule "client-nextjs"]
	path = client-nextjs
	url = https://github.com/PhanhotboY/shopee-nextjs
[submodule "client"]
	path = client
	url = ./client
[submodule "server"]
	path = server
	url = ./server
