[submodule "api"]
	path = api
	url = https://github.com/PhanhotboY/ecommerce-nodejs
[submodule "client-nextjs"]
	path = client-nextjs
	url = https://github.com/PhanhotboY/shopee-nextjs
[submodule "client"]
	path = client
	url = https://github.com/PhanhotboY/shopee-reactjs
[submodule "server"]
	path = server
	url = https://github.com/PhanhotboY/NodeJS_Shop
